.full-width{
    margin: 0px !important;
    width: 100%;
}

.fondo{
    background: url('./img/banner-home.jpg');
    height: 100vh;
}

.title-banner{
    padding-top: 105px;
    h1{
        font-size: 31px;
    }
    h2{
        font-size: 30px;
        font-weight: 100;
    }
}

.form-banner{
    padding-top: 105px;
    .form{
        background-color: white;
        padding: 40px 50px;
        .medium-text{
            position: relative;
            top: 60%;
            padding: 0px 35px;
        }
        .sect-btn{
            padding-top: 30px;
            .btn-form{
                padding: 5px 15px;
            }
        }
        p{
            padding-top: 40px;
        }
    }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .form-banner{
        padding-top: 25px;
        .form{
            background-color: transparent;
            p{
                padding-top: 10px;
                margin: 0px;
            }
        }
    }
}

$breakpoint-phone: 485px;
@media (max-width: $breakpoint-phone) {
    .form-banner{
        padding-top: 5px;
        .form{
            padding: 15px 50px;
        }
    }
}